{% extends 'base.njk' %}
{% block content %}
<h1>{{ title }}</h1>
<h3>{{ description }}</h3>
<span><i>{{ author }}</i></span><br />
<span><i>{{ page.date | readableDate }}</i></span><br />


<article>{{ content | safe }}</article>
{% endblock %}