.gradient-rectangle {
  /* height: 100%;
  width: 100%; */

  grid-row-start: 1;
}

.article-preview-wrapper {
  border-radius: 10px;
  margin: 10px 0;
  grid-template-columns: 1fr;
}

.line-limited {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.article-preview-content {
  grid-row-start: 2;
  padding: 10px;
}

