---
layout: list.njk
---
{%- for post in collections.all -%}
<div>
    <h1><a href="{{ post.url }}">{{ post.data.title }}</a></h1>
    <span><i>{{ post.date | readableDate }}</i></span><br />
    <p>{{post.content}}</p>
</div>
{%- endfor -%}